#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Golfer Animation */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Logos on main page/ Icons */

.LogoPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.LogoPage div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

/* Logo on main page */

header #mainIMG {
  background-image: url('../golfball.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 70vh;
  width: 50%;
  margin-bottom: 0px;
}

header .text-content {
  width: 50%;
  padding: 20px;
  text-align: left;
}

/* Text By Logo */

.break-point {
  /* background-color: #61dafbaa; */
  height: 100px;
  font-family: "cursive";
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-top: 0px;
}

/* Welcome to Golf Geek */
.WTGG {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  margin-top: 0px;
  line-height: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.marck-script {
  font-family: "Marck Script", cursive;
  font-size: 45px;
}

h2 {
  font-family: "curisve";
}

/* Nav Bar */

#NavBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

/* Sign Up/Login Button */

/* Login Button */
#btn {
  padding: 10px 20px;
  border-radius: 50%;
  margin: 0 10px;
  text-decoration: none;
  height: 100px;
  width: 100px;
  color: white;
}
/* Sign Up Button */ 
.btn {
  padding: 10px 20px;
  border-radius: 50%;
  margin: 0 10px;
  text-decoration: none;
  height: 100px;
  width: 100px;
  color: white;
  padding-bottom: 30px;
}

#btn .btn {
 display: flex;
 align-items: center;
}


/* Styling for iPhone/ mobile device */

@media screen and (max-width: 450px) {
  #mainIMG, .break-point {
      display: none;  
  }

  .AppDiv {
    overflow-x: hidden;
    width: 100%;
  }

  .marck-script h2 {
    display: none;
  }

  .LogoPage {
    display: flex;
    flex-direction: column;
  }
}