.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    color: black;
}

.scoreBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightblue;
    width: 100%;
}

.holeRow {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;
    width: 100%;
}

.hole {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #12461281;
    height: 200px;
    width: 80px;
}

.hole label {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.hole select,
.hole input {
    font-size: 1.2em;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

textarea {
    font-size: 1.2em;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

#scButton {
    background: linear-gradient(135deg, #FFD700, #FFC107);
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(255, 215, 0, 0.5);
    position: relative;
    overflow: hidden;
  }
  
  #scButton:hover {
    background: linear-gradient(135deg, #FFEC8B, #FFD700);
    box-shadow: 0 6px 15px rgba(255, 215, 0, 0.8);
  }
  
  #scButton:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(255, 215, 0, 0.6);
  }

  textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
    background-color: rgb(70, 67, 67);
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 10px 2px gold;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
    background-color: rgb(70, 67, 67);
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px 2px gold;
}

#SC {
    font-family: Marck Script;
    font-size: 75px;
}