
  
  .app-container {
    text-align: center;
    padding: 20px;
  }
  
  .question-container {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .options-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .option-button {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option-button:hover {
    background-color: #e9e9e9;
  }
  
  .option-button.selected {
    background-color: #1f6f3f;
    color: white;
  }
  
  .submit-button {
    background-color: #1f6f3f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
  }
  
  .submit-button:hover:not(:disabled) {
    background-color: #155d3f;
  }
  
  h1 {
    font-family: Marck Script;
    font-size: 55px;
  }
  